<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 px-0">
            <app-war-events-map (systemClicked)="enter($event)">
            </app-war-events-map>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-start px-0 pt-4 card-pane">
            <div *ngIf="viewedNode" class="card" style="width: 18rem;">
                <img src="assets/cards/16_-_The_Tower_3-DMQT.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{viewedNode?.name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>